.jumbotron {
  padding-top: 7rem;
  background-color: #ffdf7d;
}

#projects {
  background-color: #ffdf7d;
}

section {
  padding-top: 6rem;
}

.tulisan {
  color: darkorange;
} 

.tl {
  color: white;
} 
